{% extends "base.html.twig" %}

 {% block body %}
 <div class="container d-flex flex-wrap">
 {% for list in lists %}
 <div class="card m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="color: {{ list.color }}">{{ list.name }}</h5>
     <p class="card-text"></p>
    {% for task in  list.tasks %}
    <input type="checkbox" {{ task.completed ? "checked" : ""}}> {{ task.title }}<br>
    <center>
     <a href="/create-list/{{list.id}}" class="btn btn-success">Ajouter</a>
     </center>
    {% endfor %}
    <a href="/update-list/{{list.id}}" class="btn btn-warning">Modifier</a>
    <a href="/delete-list/{{list.id}}" class="btn btn-danger">Supprimer</a>
  </div>
</div>

 {% endfor %}
 </div>
 
 {% endblock %}